/* src/index.css */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  @apply bg-slate-50 text-slate-800 antialiased overflow-x-hidden;
}

/* Custom Scrollbar (Optional) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-100;
}
::-webkit-scrollbar-thumb {
  @apply bg-blue-200 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-400;
}