@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    /* Style default & transisi halus */
    @apply bg-slate-50 text-slate-800 antialiased overflow-x-hidden transition-colors duration-300;
  }

  /* Style khusus saat Dark Mode aktif */
  :root.dark body {
    @apply bg-slate-950 text-slate-100;
  }
}

/* Custom Scrollbar (Support Dark Mode) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-100 dark:bg-slate-800;
}
::-webkit-scrollbar-thumb {
  @apply bg-blue-200 dark:bg-slate-600 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-400 dark:bg-slate-500;
}